[2017-06-06 13:03] DmitrySkripkin opened #1 "Is it possible to convert custom blots?"
I'm not sure, but I don't see any of my custom blots in `beforeRender`.

[2017-06-06 13:44] nozer commented on #1
I don't think so as I have only taken into account format options explained on this page https://quilljs.com/docs/formats/

[2017-06-06 14:13] DmitrySkripkin commented on #1
Ok, I've just tried to fork this repo to add my custom blots myself. There is no problem, that is rather easy. It's good idea to keep it simple.
Thank you for quick answer.
P.S. Nice repo. Saved me another week.

[2017-06-06 14:21] nozer commented on #1
Thank you. You are welcome.

[2017-06-06 14:21] #1 closed

[2017-06-07 15:33] DmitrySkripkin opened #2 "<br> instead of <p>"
I have single op delta:
[code]
And I get something like this when I convert:
[code]
But Quill renders this as:
[code]
BTW I was not able to create `<p>` with breaklines here https://quilljs.com/playground/ or in `demo-browser.html`. It's a new paragraph each time I hit enter or paste text with breaklines.

[2017-06-07 15:49] nozer commented on #2
That is how I intended it to work (mimicked trix editor in this regard https://trix-editor.org ). Block contents (with same align indent and direction) are also put in one block tag (h*, pre, etc) with `br` tags for new lines. Also, lists are nested as well (inner listed is child of `li`). These are the differences from quill's output.

[2017-06-07 15:51] nozer commented on #2
FYI, I am not actively maintaining this; I created dotnet version of it and using that one for my project. If you have questions I can answer but I don't have time to make changes at this point.

[2017-06-07 15:57] DmitrySkripkin commented on #2
Got it, no problem. My goal is to generate completely same HTML as Quill does (for inline editing). I can make some changes in my repo then.

[2017-06-07 15:58] #2 closed

[2017-07-14 09:59] buildAI opened #3 "Custom Blots"
Hey I'm using this library and I'm trying to render with a custom blot which eventually adds a custom attribute. I was planning to do it from this line
[Pointer in library](https://github.com/nozer/quill-delta-to-html/blob/b377d235b9bc3f9485146641c8a3409ef94943f5/src/OpToHtmlConverter.ts#L178)

I'm planning to patch the code in the line indicated above. Is this fine or is there a better way to ext

[2017-07-14 15:25] nozer commented on #3
Hi, I did not take custom blots into consideration when developing the library as I did not need it; I have not even studied structure for them. I guess your best move forward is to clone the project and add in any changes you need.

[2017-07-18 04:22] buildAI commented on #3
@nozer thanks. Will close the issue then. I'll try to fork it and make changes

[2017-07-18 04:22] #3 closed

[2017-10-21 14:21] brianreeve commented on #2
@DmitrySkripkin, I have a similar need. Do you mind sharing your solution?

I have started down a path to accomplish this in a `beforeRender` or `afterRender` event handler to avoid modifications to the source, then share my results with the community. However, if you have something working well already, perhaps I can adapt that.

Thanks!

[2017-12-22 11:54] tonydtran opened #8 "Image size"
Hi Nozer,

You did a great job, your module is very useful to me and simple to use. But I have some troubles with images, as you know the images are save in base64 with the width attribute. When I resize it, it works, but when I'm saving then displaying it out of Quill the image is displayed with its original size. But when I come back to Quill the image is displayed properly.

I saw that you've j

[2017-12-22 12:23] nozer commented on #8
Thank you. Done

[2017-12-22 12:23] #8 closed

[2017-12-22 13:05] tonydtran commented on #8
Sorry to bother you again, but do you know how long it takes to see your updated module on npm?

[2017-12-22 15:59] nozer commented on #8
I am so sorry I forgot to push to npm. I just did that. Don't hesitate to bother again if I forgot something else:)

[2017-12-22 16:04] tonydtran commented on #8
Thank you very much, this is your Christmas present to me! Have great holidays with your family :)

[2017-12-22 16:08] nozer commented on #8
:) Thanks a lot and I wish you happy holidays too.

[2017-12-26 03:54] LaveyD opened #9 "Module build failed: TypeError: Path must be a string. Received [Function]"
Hi. After I import this module, error happens when webpack build as bellow:

`Module build failed: TypeError: Path must be a string. Received [Function]
    at assertPath (path.js:28:11)
    at Object.normalize (path.js:346:5)
    at normalizePaths (F:\DevCenter\node_modules\stylus-loader\lib\pathcache.js:301:21)
    at stylusFile (F:\DevCenter\node_modules\stylus-loader\lib\pathcache.js:102:14)

[2017-12-26 12:02] nozer commented on #9
I just built distribution code and pushed with tag `v0.5.4`. You may pull the latest and try again. I am not sure if that was the issue though.

[2017-12-26 13:45] tonydtran commented on #8
Hi Nozer, hope you had a good time for Christmas.

I use quill-image-resize-module (v.3.0.0) to resize uploaded image into Quill. When I save the delta, I have an inline-group like this:
`myDelta = {
  ops: [
    0: {
      attributes: { width: "100" },
      insert: { image: "data:image/png;base64,..." }
    },
    1: {
      insert: "my image\n"
    }
  ]
}`

No problem until now. But when I try

[2017-12-26 14:14] nozer commented on #8
This converter changes attribute `..., insert: {image|video|formula|text: 'value'}, ...` to `...,insert:{type: 'image|video|formula|text', value:'value'},...` So you can get your original image attribute value via `insert.value`

[2017-12-26 14:23] tonydtran commented on #8
Thank you for your quick answer, but I'm sorry I don't understand what you mean (I'm junior, please be patient :)). Can you be more precise?

[2017-12-26 14:25] nozer commented on #8
To get your image value in original data, you would do `insert.image`; now, you would need to do `insert.value` when `insert.type` is `image`.

[2017-12-26 14:53] LaveyD commented on #9
@nozer Thanks for your update, but the problem still exsits.

[2017-12-26 15:12] tonydtran commented on #8
Yes I get it, but what I don't get is how could I keep the width attribute from the original delta? I did not find the image width in `insert.value` :(

[2017-12-26 15:42] tonydtran commented on #8
Ok I found a way but I think there is a better to do that:

[code]

[2017-12-26 15:59] nozer commented on #8
Hi again,
You found a bug and I just fixed and pushed it. `width` attribute was not sanitized and thus not kept. Now, you can access the width via `e.attributes.width` without having to set it. Thanks for catching that.

[2017-12-26 16:00] nozer commented on #9
Can you show some code; like how you are importing it?

[2017-12-26 16:48] tonydtran commented on #8
Thanks a lot for being so reactive!

[2017-12-26 16:58] nozer commented on #8
Welcome

[2017-12-27 00:50] LaveyD commented on #9
OK. I'll prepare the code then. ^^

[2018-01-12 01:12] csbenjamin opened #10 "adding extra new lines when dealing with code-block"
When using the delta:

    [
      {
        "insert": "handler(range: { index: Number, length: Number },"
      },
      {
        "attributes": {
          "code-block": true
        },
        "insert": "\n"
      },
      {
        "insert": "        oldRange: { index: Number, length: Number },"
      },
      {
        "attributes": {
          "code-block": true
        },
        "insert":

[2018-01-12 06:47] nozer commented on #10
I will look at it during weekend(tomorrow)

[2018-01-13 17:08] nozer commented on #10
Fixed and pushed as release v0.5.7

[2018-01-13 17:08] #10 closed

[2018-01-13 17:29] csbenjamin commented on #10
Thanks

[2018-01-24 00:21] homerlex opened #11 "Mention Support?"
I see that functionality was added to this project to support mentions.  Is there a quill mention module that is compatible with the mentions code in here?

[2018-01-24 05:37] nozer commented on #11
@buildAI made a pull request and I merged without questioning partly because he included test and everything and I did not want to disrespect his effort. I asked him the same question now; I will let you know once he answers.

[2018-01-24 14:41] homerlex opened #12 "Advice for converting a custom blot?"
I have a custom embed blot that looks something like the following in the delta json:

`{"insert": {"my-blot": {"id": "1761", "value": "Some Name"}}}`

I'm wondering if there are examples for adding conversion of custom blots.

I see the code fall though `InsertOpsConverter.convertInsertVal` and since my insertVal is not a string or any of the DataTypes handled there null is return.   Is this the

[2018-01-28 15:19] buildAI commented on #11
@nozer @homerlex I did a fork of this project and tried to  make a custom mentions blot but wasn't really successful just was digging through emails and noticed my PR was merged into this. I would say there wasn't any module. I just added an ops support which I thought was generic enough when I was working on custom module. Let me know if I need to add on to this but I'm glad this was merged @noze

[2018-01-28 15:29] nozer commented on #11
@buildAI If you could make a custom module that will use this mentions feature, that would be great for @homerlex  and everyone.

[2018-01-28 15:49] nozer commented on #12
Hi @homerlex
If value of `insert` property is not in [quill formats](https://quilljs.com/docs/formats/) and not a mention, which is like:
[code]
then they will be removed during sanitization process (sanitization removes all unknown properties and their values from `insert` for security). So, your 'my-blot' insert type is unknown to the system and will be removed and there is no way for you to gen

[2018-01-28 15:55] nozer commented on #12
@homerlex
I will see what I can do to let those custom "insert types" pass through so you can render them the way you like in:

[code]

[2018-01-28 18:00] #9 closed

[2018-01-29 13:24] homerlex commented on #12
Thanks @nozer.  That would be great.

[2018-01-29 13:45] homerlex commented on #12
@nozer, @buildAI - I was just looking at `InsertOpsConverter.convertInsertVal` again and I don't see how an insert like the following isn't "ignored":

```insert: {mentions:true, mention:{name:, target:, 'end-point':, slug:, class:, avatar:, id:}}```

The way I see it, in that function `insertPropVal` for a mention is not a string and its not and Image, Video or Formula so the function would retur

[2018-01-29 14:45] nozer commented on #12
Sorry, I mistyped. I mean if attributes contain anything other that what is specified in quill formats and in this `{... mentions:true, mention:{name:, target:, 'end-point':, slug:, class:, avatar:, id:} ...}`, then they are removed. I mistyped them as if they are a property of insert. Very sorry.

[2018-01-29 14:46] nozer commented on #12
I started on that feature. Hopefully it will finish in a few days (I have day job too, so be patient pls).

[2018-01-29 14:50] homerlex commented on #12
OK, but I still don't see how mentions would get passed `InsertOpsConverter.convertInsertVal` in the current code.  Therefore I don't think they will be converted to HTML.

Anyway looking forward to seeing your feature addition.  Your time spent on the project is much appreciated.

[2018-01-29 14:56] nozer commented on #12
mentions & mention is not a value of insert, they come in as attributes;
[code]
In `.convertInsertVal` does not do anything to attributes; it works with insert value. So, in this case, as far as it is concerned, insert is one of the "system" types (text, image, video, formula)

[2018-01-29 15:00] homerlex commented on #12
Got it - thanks for the explanation.

[2018-01-29 15:02] nozer commented on #12
Welcome

[2018-02-05 07:45] icewind7030 commented on #12
Facing this problem as well, any updates?

[2018-02-14 05:29] uptownhr opened #13 "new lines to br or p"
i'm comparing a simple ops entry of

`{{employee.profile.first_name}}\ntest\n\ntest\n`

Using quill the editor converts the `\n` to paragraphs while `quill-delta-to-html` lib is converting to `<br>` Is this by design? Is there an option to change behavior?

[2018-02-14 07:19] nozer commented on #13
Yes, by design. All consecutive inline items (those other than header, blockquote, codeblock, video) are wrapped in a `<p>` tag (that can be configured) and all `\n`s are converted to `<br>` tags

[2018-02-14 07:20] nozer commented on #12
@icewind7030 Sorry for the delay; so much has been going on in my life. I will possibly resume and finish this in the next weekend.

[2018-02-14 09:40] icewind7030 commented on #12
@nozer That would be great, I totally understand. Take you time, please.

[2018-02-18 17:18] nozer commented on #12
It is finished and published in `v0.6.1`. Updated the docs as well.

[2018-02-18 17:18] #12 closed

[2018-02-18 17:19] #13 closed

[2018-02-18 17:23] nozer commented on #11
@buildAI  @homerlex I just published ability to render custom blots in v0.6.1
As a result of this, I may remove the mentions support added since there is no more need to add support for formats other than Quill's.

[2018-02-18 17:23] #11 closed

[2018-02-19 16:22] homerlex commented on #12
@nozer - Thanks for getting this done.   It works great.

[2018-02-23 08:19] stonecold123 opened #14 "An method to just get `groupListsNested` from the convert method"
I'm planning to use `quill-delta-to-html` in react native, and I'd like to render the delta ops into react native views.

Would you consider adding a method `getGroupListsNested()` so that I can loop `groupListsNested` myself to render the ops into react native views?

Example in QuillDeltaToHtmlConverter.ts
[code]

[2018-02-23 09:14] nozer commented on #14
Sure. It also looks better like that too. I may change the function name to something more generic. I will do it in the weekend. I will let you know here.

[2018-02-23 09:34] stonecold123 commented on #14
@nozer
Thank you! I've been working on a function to render native views from `groupListsNested`.

One minor thing with this approach is that in order to check the group type (`video`,`block`,`list`, `inline-group`), I have to access the class name by `group.constructor.name`, like this:
[code]
I think it'd be better to just add the group type name to each group.

[2018-02-23 10:02] nozer commented on #14
I guess we could expose the  group types but I am wondering if it will increase the api surface and will cause headache later on if I need to make internal changes. On the other hand, if we are exposing that function you desired publicly, it seems natural to do that as well. What do you think?

[2018-02-23 12:15] stonecold123 commented on #14
@nozer
Yes it would cause headache if you want to make internal changes later on. It's just a minor thing and very easy for me to check, so maybe just leave it as it is until the library is stable.

[2018-02-23 15:06] stonecold123 opened #15 "Sanitize link attribute"
I've found that people can inject xss in the link attribute:
[code]
The browser will execute the javascript when you click the link.

Would you consider removing this sort of injection in the link attribute by escaping these characters?

[code]

[2018-02-23 18:12] nozer commented on #15
Will do. thank you for the contribution

[2018-02-23 20:01] homerlex opened #16 "Empty Line Between Headings Not Rendered"
Use the header toolbar option:
`[{ 'header': [1, 2, false] }]`

Edit a document:
* Add a line of text with "Heading 1"
* Add a blank line under Heading 1
* Add a line under the blank formatted with Heading 2

Notice that quill-delta-to-html did not render a <br/> between the two headings.

See it in action here: https://www.screencast.com/t/1EzZhD3XPvQq

Here is the HTML inside quill:
`<h1>Heading

[2018-02-24 09:03] nozer commented on #16
Thanks for catching that. Fixed and pushed to tag `v0.7.0`

[2018-02-24 09:03] #16 closed

[2018-02-24 09:04] nozer commented on #15
Fixed and pushed to tag `v0.7.0`

[2018-02-24 09:04] #15 closed

[2018-02-24 09:05] nozer commented on #14
It is done and pushed to tag `v0.7.0`. Method is called `getGroupedOps` (also updated the README)

[2018-02-24 09:05] #14 closed

[2018-02-26 14:34] homerlex commented on #16
@nozer - perfect, thank you.

[2018-03-02 16:01] parthdesai93 opened #17 "converter.renderCustomWith doesn't return width attribute in callback"
Hey, first of all thanks for this library. Saved me a week's worth of work. :)

I'm trying to render HTML along with custom blot from quill ops object ( which will be saved in db) and width attribute is not being returned for some reason.

This is my sample ops object.

    let ops = [
      {
        insert: 'random Text goes here'
      },
      {
        attributes: { link: 'http://www.link.com

[2018-03-02 16:06] nozer commented on #17
It is a bug; attribute sanitizer for width is expecting only numbers (erroneously). I will fix and push this weekend.

[2018-03-02 16:09] parthdesai93 commented on #17
If you can point me where to look at in the code, i can try fixing it. Just giving a heads up, I don't know typescript though

[2018-03-02 16:19] nozer commented on #17
It is following method in OpAttributeSanitizer. You also need to add tests.
[code]

[2018-03-02 18:45] nozer commented on #17
Ok pushed with tag v0.7.1

[2018-03-02 18:45] #17 closed

[2018-03-07 16:19] ZakMiller opened #19 "Add a license"
Hi, I would like to use this, but I don't see any license.

[2018-03-07 16:25] nozer commented on #19
How can I add the most permissive license?

[2018-03-07 16:26] ZakMiller commented on #19
https://stackoverflow.com/questions/31639059/how-to-add-license-to-an-existing-github-project
MIT is a good one.

[2018-03-07 16:27] nozer commented on #19
Cool. Thanks. Will do

[2018-03-07 16:28] ZakMiller commented on #19
Thank you! Really appreciate it.

[2018-04-19 06:25] dcsaszar opened #20 "Link blot target attribute is not respected"
### Background
We have a customized Quill editor, which supports custom link targets.

### Reproduce
Use this delta ops input:

[code]
### Expected output
[code]
### Actual output
[code]

### Notes
I think the issue lies here:
https://github.com/nozer/quill-delta-to-html/blob/master/src/OpToHtmlConverter.ts#L182

Unfortunately the default Quill doesn't set the `target` attribute for the delta op.

[2018-04-19 12:45] nozer commented on #20
I will look into it and push a fix by the end of the coming weekend.

[2018-04-22 11:48] nozer commented on #20
Hi

A fix has just been pushed with tag v0.8.0. I followed your "non-alternative" advice instead of the `renderCustomWith` since it is called only with custom blots (i.e. when `insert` value is not text or not an object that has `formula`, `image`, and `video` as its key).

A `linkTarget` option is added and it is set to `_blank` as default (since that has been the hard-coded default so far, I did

[2018-04-22 18:52] #20 closed

[2018-05-09 07:48] volser opened #22 "Encoded tags inside `code-block`"
Html inside `code-block` is displayed as rendered html

[2018-05-09 14:03] nozer commented on #22
Ok, I will look at it by the end of this weekend.

[2018-06-09 15:32] dimes opened #23 "Type definitions for quill-delta-to-html"
I see that this project is written in TypeScript, but doesn't seem to have any associated type definitions in the final artifact. It'd be pretty handy to have the type definitions!

[2018-06-10 14:50] nozer commented on #23
Done and pushed as new release.

[2018-06-10 14:50] #23 closed

[2018-06-11 12:14] valentinbdv opened #24 "module import"
Is it possible to import the QuillDeltaToHtmlConverter constructor in a module base project after installing it with npm?

Thanks, great library!

[2018-06-11 15:08] nozer commented on #24
If you are importing to a .ts project, you should do `import QuillDeltaToHtmlConverter = require('quill-delta-to-html');`

If importing to a .js project, then you do `let QuillDeltaToHtmlConverter = require('quill-delta-to-html');`

[2018-06-11 15:12] nozer commented on #24
I may have to look into doing an `export default ...` as opposed to `export = ...` that I am doing currently. When exported with `export default ...`, `import x from 'y'` will work; however, when exported with `export = ` syntax, then import must be like `import x = require('y')` from typescript;

[2018-06-11 15:45] valentinbdv commented on #24
Ok I didn't know that difference.
Indeed I think it would be better to just have import x from 'y' as most people will do I guess.
Or least explain that we have to add the require function in the README so that everybody has the right import from the first time!

Thanks a lot

[2018-06-11 15:56] nozer commented on #24
Will do. Welcome.

[2018-06-11 15:56] #24 closed

[2018-07-01 16:59] xswon opened #25 "multi-language characters may be lost in _scurbUrl()"
when dealing with image/video ops with src containing multi-language characters, the function _scrubUrl() may ruin the link. Why is this function needed here? (in extentions/String.ts, line 45)

[2018-07-26 23:06] highspotjeremy opened #26 "Text and some blots are losing values when implementing custom rendering"
I've added a `renderCustomWith()` handler to perform rendering of custom blots. I've also added a `beforeRender` to capture certain elements and alter their rendering. The captured elements are lists and contain child blots that are being rendered by invoking a new instance of the converter with the child ops.

When processing the ops, any text and some other blots, such as images, that are encoun

[2018-08-06 17:50] nozer commented on #25
I am sorry for the delay. I fixed it by changing the way url sanitization works and pushed the changes to tag v0.9.0

[2018-08-06 17:50] #25 closed

[2018-08-06 17:52] nozer commented on #26
Can you give example ops with expected output?

[2018-08-06 20:45] highspotjeremy commented on #26
This code *should* repro the issue, but I can't test it at the moment. In `renderCustomWith`, `customOp.insert.type` was coming up as "`type`" in my tests, and `customOp.insert.value` was "`value`".

Renderer:
[code]

Implementation:
[code]

[2018-08-07 07:32] nozer commented on #26
Can you please provide some sample ops containing your custom blots? I am asking because `renderCustomWith` would never be called with `image` as the value for `customOp.insert.type`. `image` is one of the built-in types for quill(along with formula, video) and not a custom blot. If you showed a sample of your custom blot op, I would be able to understand better.

Also, please note that format for

[2018-08-14 14:14] rienswagerman opened #28 "Type errors"
Hi. I get the following type errors:

[code]

tsconfig:

[code]

Thanks!

[2018-08-14 14:40] nozer commented on #28
What is the typescript version you are using?

[2018-08-14 15:02] rienswagerman commented on #28
Tried both 2.9.1 and 3.0. Currently on 3.0

[2018-08-14 15:47] nozer commented on #28
Hi, it was due to you having these settings in tsconfig:
[code]

I changed my tsconfig settings to these and fixed the typescript errors and pushed as `v0.9.2`.
Thanks

[2018-08-14 15:54] nozer commented on #28
Aaargh, you have other settings that also give typescript errors. I will fix and push again. Hang in there! :)

[2018-08-14 16:10] nozer commented on #28
Fixed and pushed as `v0.9.3`

[2018-08-14 16:41] dcsaszar opened #29 "`a href="#test"` is converted to `a href="unsafe:#test"`"
The sanitiser breaks fragment-only links.

### Input
`<a href="#test">`

### Expected output

`<a href="#test">`

### Actual output

`<a href="unsafe:#test">`

[2018-08-14 16:59] nozer commented on #29
Fixed it by supporting href values starting with # (I was prefixing all urls that do not start with a known protocol with `unsafe:` ) Tag is v0.9.4

[2018-08-14 16:59] #29 closed

[2018-08-14 17:06] dcsaszar commented on #29
Thanks. Unfortunately, I just discovered the next issue, absolute links also break:

`<a href="/1234abcd">` becomes
`<a href="unsafe:/1234abcd">`

😿

[2018-08-14 17:28] nozer commented on #29
Pushed a fix, Tag is v0.9.5

[2018-08-14 19:50] rienswagerman commented on #28
Perfect! Thanks for the quick fixes!

[2018-08-14 19:50] #28 closed

[2018-08-16 07:18] volser opened #30 "Add support of check lists"
Open quill and type `[]` or `[x]` to get check list. Could be checked and unchecked
`<ul data-checked="false"></ul>`, `<ul data-checked="true"></ul>`

[2018-08-16 10:05] volser commented on #30
PR https://github.com/nozer/quill-delta-to-html/pull/31

[2018-08-16 10:32] nozer commented on #30
Just merged; thanks a lot!

[2018-08-16 10:38] nozer commented on #30
Hey, I got some warnings about package.lock file and reverted. Can you remove that file and also increase the test coverage to 100%? Thanks

[2018-08-16 10:42] nozer commented on #30
Nevermind, I will do it :)

[2018-08-16 14:16] nozer commented on #30
I updated the way list html is generated. For example, given these ops:
[code]
They will produce this html:
```<ul><li data-checked="true">done</li><li data-checked="false">not done</li></ul>```

Adding `data-checked` attribute to `ul` causes all items to be checked or unchecked. `quill` makes different lists for checked and unchecked items; that is semantically wrong. One should be able to have o

[2018-08-16 14:26] nozer commented on #30
It already is not because we have been generating properly nested lists (inner list is located inside the `li` element of the parent list) from the beginning.

[2018-08-20 02:12] likyh opened #34 "能否不要污染全局的Object和Array对象"
能否不要污染全局的Object和Array对象？就是不要给Array/Object增加自己的方法，这会让for in等函数无法使用。

[2018-08-20 02:30] nozer commented on #34
In English?

[2018-08-21 11:55] volser commented on #34
He is talking do not touch Object and Array, like `Array.prototype._preferSecond`, just make a helper class or functions

[2018-08-22 01:34] alexjustesen opened #35 "TypeError: Cannot read property of 'QuillDeltaToHtmlConverter' of undefined"
Just found this library and trying to implement it into a project. I'm using requireJS to load my js files and I'm getting the following error.

`Uncaught TypeError: Cannot read property 'QuillDeltaToHtmlConverter' of undefined at QuillDeltaToHtmlConverter.bundle.js:1178`

Here is how I am loading and running the script:

[code]

Any help would be greatly appreciated, thanks.

[2018-08-22 03:15] likyh commented on #34
yeah~ What @volser talking is what i want say;

[2018-08-22 03:16] likyh commented on #34
Such as Array.prototype._preferSecond make for..in can not use in Object/Array，it cause other lib throw error.

[2018-08-22 13:25] volser commented on #30
@nozer you can close this one, works fine, thanks

[2018-08-22 13:29] #30 closed

[2018-08-22 13:54] nozer commented on #35
I am not using require js so I won't be able to help you here. But you can include the browser bundle in your html file as `<script src="dist/browser/QuillDeltaToHtmlConverter.bundle.js"></script>` and converter will be available as `window.QuillDeltaToHtmlConverter`

[2018-08-22 14:14] nozer commented on #35
Fixed and pushed as v0.9.8

[2018-08-22 14:38] alexjustesen commented on #35
I'll test tonight, thanks for the quick reply.

[2018-08-22 14:43] nozer commented on #35
Welcome. Please close the isssue if all is ok.

[2018-08-22 15:08] alexjustesen opened #36 "Pull requests, not an issue/not priority"
I'm willing to invest some time in this project as it's proving useful for a couple other projects of mine.

I'd like to beef up the demo file (ie, improve performance, update quill and ui) and assist in any testing, are you open to pull requests?

[2018-08-22 15:47] nozer commented on #36
Yes. And thanks!

[2018-08-22 15:48] #36 closed

[2018-08-22 23:31] alexjustesen commented on #35
Looks like that addressed the undefined type error, there is a constructor error that I'll create a separate ticket for.

[2018-08-22 23:39] alexjustesen opened #37 "Uncaught TypeError: QuillDeltaToHtmlConverter is not a constructor"
Having the following issue loading through require.

####Error
`Uncaught TypeError: QuillDeltaToHtmlConverter is not a constructor`

####Code Sample
[code]

Thanks in advance for the help.

[2018-08-23 02:15] nozer commented on #35
require(['quill-delta-to-html'], function( QuillDeltaToHtmlConverter...  In here, constructor is available as QuillDeltaToHtmlConverter.QuillDeltaToHtmlConverter

[2018-08-23 02:16] nozer commented on #37
require(['quill-delta-to-html'], function( QuillDeltaToHtmlConverter... In here, constructor is available as QuillDeltaToHtmlConverter.QuillDeltaToHtmlConverter

[2018-08-24 01:27] likyh commented on #34
👍

[2018-08-24 02:59] #35 closed

[2018-08-27 12:38] alexjustesen commented on #37
I'll give that a go tonight, makes sense now that I'm looking at it again.

[2018-08-27 15:36] dcsaszar opened #38 "Inline `code` swallows other inline elements"
Input: `[{"attributes":{"italic":true,"link":"#top","code":true},"insert":"Top"},{"insert":"\n"}]`

### Expected output
`<p><code><a href="#top"><em>Top</em></a></code></p>` (the nesting order may differ)
### Actual output

`<p><code>Top</code></p>`

[2018-08-28 15:53] nozer commented on #38
Fixed and pushed with tag `v0.9.9`

[2018-08-28 15:53] #38 closed

[2018-08-28 15:54] nozer commented on #37
I am closing this for now; you can reopen if issue persists

[2018-08-28 15:54] #37 closed

[2018-08-28 15:54] #26 closed

[2018-08-28 16:46] dcsaszar opened #39 "Support for link `target` is broken 😿"
V 0.9.9

### Input
`[{"attributes":{"target":"_self","link":"#"},"insert":"Ok"},{"insert":"\n"}]'`

### Expected output
`<p><a href="#" target="_self">Ok</a></p>`

### Actual output
`<p><a href="#">Ok</a></p>`

[2018-08-28 17:54] nozer commented on #39
I have removed target attribute for anchor links. I added it to readme file

[2018-08-28 18:27] dcsaszar commented on #39
It‘s not a common use case, but I don‘t see a reason to forbid this. In the end it should be the editor‘s choice. Note that, in our UI, „no target“ is the default.

[2018-08-28 18:38] nozer commented on #39
Then I guess we should allow it only if it is specified in the attributes of the relevant op and not use the one specified in the converter options, default or not. What do you think?

[2018-08-28 18:51] dcsaszar commented on #39
That would work for our use case. But IMO it‘s ok to simplify the code, i.e. treat anchor links like all other links, because this is what Quill does by default.

[2018-08-28 18:57] nozer commented on #39
Will do. Thank you

[2018-08-29 06:50] nozer commented on #39
Fixed and pushed as tag `v0.9.11`

[2018-08-29 06:50] #39 closed

[2018-09-05 17:16] stonecold123 opened #41 "Unable to get the group types 'InlineGroup','videoItem' etc in React Native production"
In React Native debug mode, the following method works to get the type of each `groupedOp` ('InlineGroup','videoItem').

[code]

But I just found out that `groupType` was undefined in React Native production. I guess the JS minifier may have messed up  `class.constructor.name`  in production build (https://stackoverflow.com/a/42660666/2598292).  How would you get the type other than `constructor.n

[2018-09-06 04:15] stonecold123 commented on #41
Update:
This is my solution.

[code]
I wonder if you can export these types in a way that I can simply do this:

 `import {InlineGroup,ListGroup,ListItem,VideoItem,BlockGroup} from 'quill-delta-to-html`

[2018-09-06 04:45] nozer commented on #41
When I have time, I will look at this. Please make do with your solution for now

[2018-09-06 15:03] kasparkallas opened #42 "Support for tables"
This feature has been in the making for over a year and is available in various Quill 2.0 development releases.

https://github.com/quilljs/quill/issues/117

Until Quill's official 2.0 release, table support could be optionally enabled in this package? Any idea how much work would it be to implement it?

[2018-09-07 09:05] nozer commented on #42
I will look into it when I have time; I really don't know how long it would take.
Thank you for letting me know about the tables support.

[2018-09-07 10:28] stonecold123 opened #43 "Custom blot fails to be recognized as blockGroup in `converter.getGroupedOps()`"
Here's a custom image blot "imageBlock" that is an extension of BlockEmbed. This is not a replacement of the default "image" blot.
[code]

When I run the converter, this custom blot is recognized as `InsertDataCustom`  but it falls into the `inlineGroup` group instead of `blockGroup`. Is there any problem with the custom blot above that makes it fail to be recognized as `blockGroup`?

[code]

[2018-09-07 11:04] stonecold123 commented on #43
I may have figured it out.
The custom image blot generates an object like this:
[code]
In order to be treated as a block, it must pass the check in the `DeltaInsertOp.isContainerBlock()` method .

[code]

 I must get the custom blot to store an attribute like `{header:true}` in the op object.

[2018-09-07 16:27] dcsaszar opened #44 "Multiline text is represented by separated lines instead of separate paragraphs"
When typing three lines in Quill the ops become:
[code]

In Quill's WYSIWYG the three lines are represented by three `P` paragraphs.

### Actual

`quill-delta-to-html` currently outputs `<p>a<br/>b<br/>c</p>`, which may break the WYSIWYG aspect.

### Expected

`<p>a</p><p>b</p><p>c</p>`

### Notes

In Quill, blank lines are represented by `<p><br></p>`

[2018-09-08 09:49] nozer commented on #41
I just exported those types (along with QuillDeltaToHtmlConverter). So your import will look like
`import {QuillDeltaToHtmlConverter, InlineGroup,ListGroup,ListItem,VideoItem,BlockGroup} from 'quill-delta-to-html` Updated the docs with this breaking change and pushed as tag `v0.10.0`

[2018-09-08 09:49] #41 closed

[2018-09-08 11:59] nozer commented on #43
I just pushed an update for this. It is tagged as `v0.10.2`. Now, if you like your custom blot to be treated as a block, add `renderAsBlock: true` in its attributes like:
[code]
Also, please note that after the version v0.10.0, I updated the way we import/require this library. See the readme under breaking changes.

[2018-09-08 12:14] nozer commented on #44
I chose to group all consecutive inline ops as one paragraph at the beginning; some other wysiwyg editors was doing it that way and I thought it was better that way. In hindsight, I can see why making a different paragraph would make sense but I just don't feel the energy to change it back and annoy some people as well. Can't you use some CSS tricks to make them look alike?

[2018-09-08 13:10] dcsaszar commented on #44
In our case the styling is under the user‘s control. Also, there are styles (like the indentation of the first line in a paragraph) that cannot be simulated. So, this is not an option for us.

How about a config like „multiLineParagraph“ we can set to „false“?

[2018-09-08 13:17] nozer commented on #44
I will do it when I can

[2018-09-08 14:51] nozer commented on #44
Fixed and pushed as tag v0.10.3. Please note the `breaking change` warning in the readme for releases after `v0.10.0`

[2018-09-08 14:51] #44 closed

[2018-09-09 07:49] nozer commented on #43
P.S. When you get grouped ops via
[code]
custom blots that are categorized as block will be of type `BlotBlock` not `BlockGroup`

[2018-09-09 22:06] valentinbdv opened #45 "Background Color Support"
It seems like quill-delta-to-html doesn't had the background color.

I guess this would not be too complicated to had it as there is already the color which is working perfectly.

This is the same logic but with the "background" attribute of the delta and it should set the "background-color" style of the node.

Tell me if I can help. ;)

[2018-09-10 05:30] nozer commented on #45
It does produce `background-color:...`. Given these ops:
[code]
it produces this output
[code]
Tell me how come you don't see it with an example? ;)

[2018-09-10 11:48] valentinbdv commented on #45
Ok I have found the issue then.

I had set the allowBackgroundClasses to true which prevent the basic background color.

My bad.

[2018-09-10 16:02] #45 closed

[2018-09-10 16:29] stonecold123 commented on #43
This library is just getting better and better. Thanks to your recent updates, I can render delta into native components in react native! I'm also using in node.js to extract temporary images from delta and upload them to s3.

Here's the updated custom image blot:

[code]
This blot would generate an op like this:

[code]

And yes, the type would be `BlotBlock` instead of `BlockGroup`, so I have to

[2018-09-10 16:47] #43 closed

[2018-09-26 12:53] Akitha commented on #42
@nozer Any Updates

[2018-09-26 13:22] nozer commented on #42
I have not started yet. I will when I can. Sorry for the delay

[2018-09-27 05:47] Akitha commented on #42
@nozer Thanks let us know if any

[2018-09-27 18:22] jwalton opened #46 "Support for classless HTML"
Hey,

I'm using this library to convert a quill delta into a block of HTML, which I want to embed inside an email.  As such, a) I don't want to have any tags with classes, because not all email client support classes and b) in our product we let customers supply their own HTML header and footer, so it's not trivial for me to inject classes into the HTML `<head>` tag anyways.

So what I'd like is a

[2018-09-28 09:41] bnlab commented on #46
Yes, very helpful.
Thanks.

[2018-09-30 15:25] #46 closed, assigned to nobody

[2018-10-09 13:06] PostMidnight opened #48 "Convert quill-emoji to html"
Hello,
I am new to this project so kindly excuse my complete ignorance.
I am trying to integrate quill into a forum, To that end I need to render quill's delta.
Your plugin is awesome, and does the job, but converting the quill-emoji.
The output of the converter is basically empty.
Is there something I am doing wrong?
Thank you in advance!
JJ.

[2018-10-11 16:09] dule opened #49 "Color attribute sanitizer doesn't allow RGB format"
When sanitizing color attributes, it only allows hex codes and color literals, but not RGB format (e.g., `"rgb(0, 0, 255)"`), which should be valid.

[2018-10-12 08:07] #49 closed

[2018-10-12 08:11] nozer commented on #49
Merged and pushed with tag `v0.10.5`

[2018-11-25 03:04] ddzy opened #52 "Questions about rendering Custom blot"
**Hi, guys. I'm having a problem, how do I render delta in the following format?**
![bug1](https://user-images.githubusercontent.com/33921398/48974975-79e12800-f0a1-11e8-9953-683a4f01c53d.PNG)

**I'm in this situation right now.**
![bug2](https://user-images.githubusercontent.com/33921398/48975004-e3613680-f0a1-11e8-8dc5-0bfa49e2e80e.PNG)

[2018-12-18 11:55] #52 closed

[2018-12-27 06:32] rkdrnf opened #53 "image link delta is not properly converted as image link"
[code]
delta like above is not properly converted to image link.
Though it's a way to make image link presented in quilljs.com

[2018-12-28 10:32] nozer commented on #53
Hi
Thanks for the bug report. I have just fixed and pushed with tag `v0.10.7`

[2019-01-01 09:40] sunjoong85 opened #54 "<img> tag may need to be placed in a different group"
A plain text and image is placed in a same group. Is there a way to make img tag is wrapped with single wrapper such as P or DIV without any siblings?
Great works. Thanks.

[2019-01-01 13:35] nozer commented on #54
There is no way to do that currently. However, you can put it inside one of those block elements (direction, alignment, indent, block quote, header). For example, you can select the image and click on `H1` and it will put the image in an `<h1>` tag.

[2019-01-01 13:35] #53 closed

[2019-01-18 23:03] mikermcneil commented on #34
@nozer thanks- I can confirm that using `quill-delta-to-html@0.9.5` was causing some tricky-to-debug consequences for the global Array prototype that don't show up until later, e.g. when enumerating with a `for…of`

[2019-01-19 04:32] nozer commented on #34
Thanks for the clarifying info @mikermcneil

[2019-02-06 20:58] dasmikko opened #55 "How to handle custom attributes?"
I need to wrap text elements with custom blots that has a specific attribute.

The ops:
[code]

What it currently outputs:
`<p>Testing spoiler tags. ignore this</p>`

What i want it to output
`<p><spoiler>Testing spoiler tags</spoiler>. ignore this</p>`

[2019-02-28 08:01] skela opened #56 "HTML to Delta?"
Is there any support to convert html to delta?

If not do you have any ideas, or tips to achieve that?

I've found this library here: https://github.com/joelcolucci/node-quill-converter but its only for node applications :(

[2019-03-07 09:41] andrewphillipoef opened #57 "Support for rendering direct to react?"
Would be cool if this could output React instead of HTML as I will have to process the out from this into react rather than use __dangerousSetInnnerHtml

[2019-04-22 21:38] tzejohn opened #58 "Bullets don't show up"
I am not sure if this is specific to my configuration. But list bullets don't seem to be showing up in the rendered HTML. This is using the demo-browser.html. And in real use cases, the bullet text seems to be missing entirely.

The following is the delta we are looking to render:
[code]

This looks fine in the quill editor, but does not get rendered properly when passed through quill-delta-to-htm

[2019-05-17 11:39] zeitwidrig opened #59 "allow linkRel for individual link op"
Same as with linkTarget it should be possible to define rel values for each individual link op. For instance you have one paragraph with two links: one internal, one external.
[code]

### Expected output
[code]
### Actual output
[code]

### Notes
global linkRel option is not applicable since "rel=nofollow" shouldn't be used for *every* link including internal links.

[2019-05-17 11:58] KenanSulayman commented on #56
`(new Quill(document.createElement('div'))).clipboard.convert(html);`

[2019-05-24 22:55] vahaknp commented on #55
I'm also running into trouble regarding this and wondering it there's a bug somewhere. `insert`s with a `type` work just fine:
[code]
but attributes don't seem to be caught at all:
[code]

Any info on this (even advice on how to debug, add logs, etc) would be great! Thanks!

[2019-05-25 03:03] nozer commented on #56
Hi @skela
Unfortunately, I don't at this moment and have not explored that avenue. I think suggestion of @KenanSulayman is a great way to achieve that.

[2019-05-25 03:03] #56 closed

[2019-05-25 03:35] nozer commented on #55
@dasmikko
I think best way to handle your custom attributes is to make the op a custom blot.
So, in your case, converting your op to this:
[code]
and then rendering your custom blot via this:
[code]
would give your desired output.

[2019-05-25 03:49] nozer commented on #55
@vahaknp
This op:
[code]
cannot be converted with `.renderCustomWith` because it is not a custom op.
For it to be a custom op, `insert` property's value must be an object with just one key and key name cannot be one of the built-in types (which are `image`, `video`, `formula`).

So, you can rewrite that op as a custom op like this:
[code]
then, you can render it with this:
[code]
which will output

[2019-05-25 04:05] #54 closed

[2019-05-25 04:14] nozer commented on #58
@tzejohn
Your ops format should not have `{list: bullet}` attribute for ops where `insert` value is not `\n`
So, right format would look like this:
[code]

[2019-05-25 05:37] nozer commented on #59
You are absolutely right. I just pushed a fix with tag `v0.10.8` that work as you expected.

[2019-05-25 05:40] nozer commented on #57
Yes it would be great but I don't have time to do it at this point. Sorry :(

[2019-05-25 05:49] dasmikko commented on #55
@nozer thanks for the help!

[2019-05-25 05:53] nozer commented on #55
You are welcome; sorry for the inexcusable delay. I was not myself :)

[2019-05-25 05:53] #55 closed

[2019-05-25 05:54] nozer commented on #55
You are welcome. Sorry for the delay

[2019-06-03 07:55] lvyue opened #60 "Why is it set indent to 0？"
[code]

[2019-06-04 12:08] zeitwidrig commented on #59
Works great, thanks.

[2019-06-04 12:08] #59 closed

[2019-06-19 22:02] adammeyer opened #62 "Explicit align left"
I would like `text-align:left` styles to be added to align left text.

I thought this config would do the trick, but align left is still being ignored.

[code]

Thanks for the help!

[2019-06-23 04:34] nozer commented on #62
in HTML, text is aligned to left by default. That is why it is neither added by Quill's own editor nor by this library. And that is why I think it is unnecessary to add it and crowd the result with superfulous  style info. Could you give an example for a case that you would need this? Maybe I am missing something.

[2019-06-24 07:23] nozer commented on #60
I am terribly sorry for the delay.

In short, it doesn't make sense to indent.

If you try to indent a list item in the [quill editor](https://quilljs.com/docs/formats/), a new inner list is created. If you try to insert a block (like a header or block quote etc), it breaks out of the list and list is terminated. So, indenting list item does not make sense in quill editor. Hence the indent being s

[2019-06-24 07:25] #58 closed

[2019-06-24 07:25] #57 closed

[2019-06-24 13:28] LucasvlLima commented on #42
@nozer any news about this change?

[2019-06-24 13:57] nozer commented on #42
Oh god, I feel bad. I just don't know when. All I can say is that I will do it when I have free time for this. I just don't know when.

[2019-06-24 15:54] adammeyer commented on #62
The parent element has a text-align: center style.

To overcome this in the editor, I used the following code:
[code]

I agree, it most cases this is unnecessary.  But in my case, I can't control the parent element styles.  I hope there is a similar override available in this library.

[2019-06-24 18:15] nozer commented on #62
So, you cannot wrap your html output with a div like this?
[code]
Let me know if it is so; I will have to add a config option to allow rendering of `text-align:left` in style.

[2019-06-24 18:19] adammeyer commented on #62
I need to use the parent styles if the user has not explicitly set a style for a selection via the quill editor.  It's like a template.  Template styles are used, unless a user overrides them in the quill editor.  Some templates many align text left, some center.  Text alignment should change with the template unless overridden by an inline style.  Thanks!

[2019-06-24 18:25] nozer commented on #62
Ah I see. Ok. I will add as soon as I can

[2019-06-25 05:46] nozer commented on #62
Ok. Pushed the fix with tag `v0.10.11`.
You must have `align:left` in the op attributes for this to work.
Also, please note that you don't need to specify `align` property in `inlineStyles`. Because, `inlineStyles` is like a look up table where it answers the question like 'what style should be used when font is set to `normal` or indent is set to 2'. Since values of align are already an answer th

[2019-06-25 14:53] adammeyer commented on #62
@nozer thank you so much!  Worked perfectly.

[2019-06-25 14:53] #62 closed

[2019-07-09 18:54] unitehenry opened #63 "Support for Quill Mention"
I had written a custom blot handler to support the ```DOMStringMap``` object that [quill-mention](https://github.com/afconsult/quill-mention) uses to render their mentions.

[code]

Maybe we can add a way to render this as html. I'm not too sure how the current mention support works, but maybe we can build on top of that. Regardless, I could just be missing something and there already is support f

[2019-07-10 04:50] nozer commented on #63
Hi

What you are doing is fine and it should be the way forward.

This library goal is to only support core quilts deltas and not also community provided module deltas as well.

So, I would like to stick to supporting generation of html from only core quillljs deltas. For all others, `renderCustomWith` method should be used. I know there is a mention support that was added as a result of the pull

[2019-07-10 11:50] unitehenry commented on #63
Ok thanks for the response and thank you for maintaining the project.

[2019-07-10 11:50] #63 closed

[2019-07-10 12:12] #60 closed

[2019-07-18 20:12] unitehenry opened #66 "Converting Font Sizes"
My problem regards manually defined font sizes in the quill toolbar. I might be missing something... but quill is using ```style="font-size: 24px"``` as inline-styling and uses ```.ql``` classes for everything else. My theory is that the converter does not look at the predefined inline-styles and just constructs new ones based on the delta.

*I'm creating my own vue wrapper for quill*

**Templated

[2019-07-25 12:07] #66 closed

[2019-07-27 09:46] volser opened #67 "Add `data-language` attr for code-block"
Quill 2.0 supports language selector for code blocks, so need to add support of this to renderer

[2019-07-27 11:37] nozer commented on #66
Hi @unitehenry
Sorry I couldn't reply earlier. I was super busy.

A bit info on generating styles and css classes.
Some terms:
**class based styling**: where you use css classes to style your html.
**inline styling**: where you use `style` property to style your html.

- You must choose one of them; both won't be applied at the same time. Use inline styling to generate content for mail. Otherwise,

[2019-07-30 14:22] volser commented on #67
Actually would be cool to have ability to customize op attributes.

something like:
[code]

[2019-08-07 07:12] volser commented on #67
and 'code-block' is not a bool attr any more, need to change sanitizer as well

[2019-08-09 20:08] Gladskih opened #68 "Custom inline blot missed by renderCustomWith()"
There is a simple example of extending Quill with mark tag support like so:
[code]

It can make Quill produce a delta like:
`{"ops":[{"attributes":{"mark":true},"insert":"q"},{"insert":"\n"}]}`

Then in accordance with your guide a do:
[code]
But passed function doesn't even called!
What's wrong?

[2019-08-11 07:55] volser commented on #68
renderCustomWith works only for embed blots (

[2019-08-11 17:20] Gladskih commented on #68
@volser But EmbedBlot is an abstraction of Parchment as Quilljs data model. Quill-delta-to-html works with Delta which has no relation to Parchment by itself.

Does Quill-delta-to-html depend on  Parchment somehow?

[2019-08-16 11:01] Gladskih commented on #68
And I know it's related to https://github.com/nozer/quill-delta-to-html/issues/55#issue-407427341
But I do not know how to make Quill create custom op instead of attribute. And I doubd it's right way to  fix the flaw.

[2019-10-27 13:12] volser opened #70 "Run prettier"
@nozer  Often, editors run auto format and is too hard to maintenance changes

so I added prettier on `pre-commit` and runned prettier for all files
https://github.com/nozer/quill-delta-to-html/pull/69

[2019-10-29 11:51] volser commented on #70
@nozer after accepting this, I will be able to provide PR for https://github.com/nozer/quill-delta-to-html/issues/67 and https://github.com/nozer/quill-delta-to-html/issues/42

[2019-10-31 07:01] volser commented on #70
I have done it in this branch https://github.com/volser/quill-delta-to-html/tree/clickup_table

[2019-10-31 11:36] aseidma opened #72 "Support for rendering KaTeX formula?"
I was wondering if there is a way to output formulas as well? The demo shows an option for formulas in the editor, but the output only displays the content of the `<span>`-tag.
I've tried applying `renderMathInElement` (provided by KaTeX) to the converted HTML, however it still doesn't render the formula.

[2019-10-31 12:05] volser commented on #67
https://github.com/nozer/quill-delta-to-html/pull/73

[2019-10-31 12:06] volser commented on #70
will make PR for tables after this PR https://github.com/nozer/quill-delta-to-html/pull/73

[2019-10-31 15:17] #70 closed

[2019-11-01 15:59] volser commented on #42
https://github.com/nozer/quill-delta-to-html/pull/74

[2019-11-05 06:15] nozer commented on #42
Added at tag `v0.11.0`. Thanks to @volser

[2019-11-05 06:15] #42 closed

[2019-11-05 16:04] volser commented on #72
Did you try `renderCustomWith`  callback and use ` katex.renderToString` here?

[2019-11-12 12:43] anoblet opened #76 "ES6 import"
I'm receiving: `The requested module '../../node_modules/quill-delta-to-html/dist/commonjs/main.js' does not provide an export named 'QuillDeltaToHtmlConverter'`

[2019-11-26 03:42] sugar0323 opened #77 "Color attribute sanitizer doesn't allow RGBA format"
When sanitizing color attributes, it only allows hex codes and color literals, but not RGBA

format (e.g., "rgba(0, 0, 255,0.5)"), which should be valid.

[2019-11-26 03:46] ashen9 commented on #77
i met the same problem, hope support it as soon

[2020-01-08 13:09] aseidma commented on #72
Hey,
sorry for the late reply, I was dealing with a few other features first, but your answer brought me to my final solution!

I added this to the `quill.on('text-change', callback)` classback:

[code]
Works like a charm and in real-time now, thank you!

[2020-01-08 13:10] #72 closed

[2020-01-19 21:45] rienswagerman opened #80 "Missing newline after header"
A newline is removed when adding a header inside a paragraph.

1. Add a paragraph of text.
2. Split the paragraph by adding 3 returns
3. Add a line of text above the second paragraph
4. Format it as header

Output before adding h1, two <br/>'s before HEADER:
[code]

Output after adding h1, one <br/> before <h1>HEADER</h1>:
[code]

I've looked into the '_renderInlines' function in /src/QuillDeltaTo

[2020-01-21 21:56] nth-chile opened #81 "Undefined `this` in QuillDeltaToHTMLConverter.js"
`QuillDeltaToHtmlConverter.js` tries to access a property on an undefined `this`, which throws a fatal error because the file uses strict mode. Unless I am doing something wrong, this prevents me from converting Deltas to HTML

### Error
[code]

### The part of the file causing the error

[code]

[2020-04-20 15:25] oskar-szwajkowski opened #85 "OpAttributeSanitizer should treat dot as valid size character"
Hi,

Size attribute sanitizer should allow dot (.) as valid character, so we can make delta as such properly rendered:

[
        {
            attributes: {
                size: "1.625em"
            },
            insert: "Hello"
        }
]

Or maybe futher, add ability to override sanitizer functions during instantiating converter

[2020-04-30 13:20] shablenko-sednor opened #86 "Completely ignores style attribute"
I have following delta, image has `style` attribute which gets completely ignored when I try to convert to html. I have enabled inline style, did not help. How to solve?

[code]

[2020-04-30 15:14] volser commented on #86
quill delta does not have such attribute, but you can implement own handler using `renderCustomWith`

[2020-04-30 15:14] #86 closed

[2020-05-10 20:43] SikoSoft opened #87 "Images are being incorrectly encoded when containing special characters (parenthesis)"
I'm noticing that whenever I upload screenshots I take with Windows 10, they appear correctly in the Quilljs editor itself just fine, but quill-delta-to-html improperly tries to encode them, therefor breaking the URLs and not displaying them.

This leads to dead images due to 404 errors.

Windows 10 creates screenshots with a convention of:

Screenshot (2).png

That is, "Screenshot", followed by a

[2020-05-19 08:03] SikoSoft commented on #87
If you can confirm this is an issue and it's not just my misunderstanding of how things should work, then I'd be happy to look into finding a fix and creating a PR for it if you'd like.

[2020-05-28 01:31] wceolin commented on #86
Hi @volser. Do you have an example of how to use `renderCustomWith` to get this `style` attribute?

I'm using [quill-blot-formatter](https://github.com/Fandom-OSS/quill-blot-formatter) to allow image resizing/alignment. It adds a `style` attribute to my Delta:

![Screen Shot 2020-05-27 at 22 25 24](https://user-images.githubusercontent.com/4393133/83088085-2a4e3480-a069-11ea-90e7-7715a769b9db.png)

[2020-06-23 08:55] volser commented on #68
pushed version with new features

[2020-06-23 08:55] #68 closed

[2020-06-23 08:57] volser commented on #81
@nth-chile  it's weird, do you have example?

[2020-06-23 09:07] volser commented on #87
@SikoSoft it does look like bug, PR is welcome with tests

[2020-06-23 09:27] nth-chile commented on #81
@volser I ended up using `quill-render`

[2020-06-23 09:47] #81 closed

[2020-07-10 17:00] jonahfuller opened #89 "Customize image block"
Hi there... I've been trying to figure out how to do this and after looking at the source code, I'm not actually sure it's possible, but figured I'd ask here just in case I'm missing something.

In my quill editor, I'm enhancing the built-in image format with a custom image blot that adds some extra attributes, such as `srcset`, `sizes`, etc. Because of this, the value of image inserts is being re

[2020-07-17 05:17] volser commented on #89
@jonahfuller try `customTagAttributes` callback

[2020-07-25 03:49] Jezternz commented on #76
I also had this problem, the  work around is to import the detault aka:
[code]

[2020-07-30 12:54] nileflowers commented on #76
`import { QuillDeltaToHtmlConverter } from 'quill-delta-to-html';`

this worked for me too.

[2020-09-10 10:05] Jezternz opened #92 "Provide a way to properly apply standard attributes to custom blots"
It would be nice to have a way to apply the normal attribute styles (bold, size, etc) to blots.

The example below is a round-about-way to do it for the placeholder plugin:

[code]

It would be nice if there was an inbuilt plugin to do this, basically what my surroundHtmlWithQuillAttributesApplied method does. Even if it just sat on contextOp, something like:

[code]

[2020-09-14 22:27] Doetheman opened #93 "QuillDeltaToHtmlConverter returns blank"
I am currently fetching delta data from my database and using convert() to convert the delta value to HTML. For some reason, the value returns a blank string but before convert() the object was assigned delta. What could be the issue?

EXAMPLE:
const QuillDeltaToHtmlConverter = require('quill-delta-to-html').QuillDeltaToHtmlConverter;

 jobs.forEach(job => {
    const cfg = {};
    const cfg2 = {}

[2020-09-20 18:56] lushiyun commented on #93
I'm having the same issue. Converter rawDeltaOps shows result similar to yours but the convert() function returns blank.

[code]

[2020-11-05 12:02] #89 closed

[2020-11-11 03:58] Rikhart commented on #93
I have the same issue, any news about this bug ?

[2020-11-11 22:59] lushiyun commented on #93
Are you using React? If so, I found a workaround:

`const deltaOps = JSON.parse(message.content)
  const quillHtml = () => {
    const temp = new Quill(document.createElement('div'))
    temp.setContents(deltaOps)
    return { __html: temp.root.innerHTML }
  }

return <div dangerouslySetInnerHTML={quillHtml()}></div>`

[2020-11-16 16:11] martinschilliger commented on #93
I often stumbled over this… don't supply the `delta` to the converter, supply `delta.ops`.

[2020-11-24 12:48] mdathersajjad opened #94 "Extra attributes in formats"
Thanks for this library, @nozer . I am trying to implement blockquote in two ways, one with background and other without background for that i added a separate block quote like this

[code]

While adding the format i am sending quote: true or false. The delta ops looks like this.

`{"ops":[{"insert":"Test"},{"attributes":{"blockquote":{"quote":true}},"insert":"\\n"},{"insert":"Test"},{"attributes"

[2020-12-03 15:44] tarkh commented on #86
Same issue here! I've implemented custom styling for images in Quill. So deltas looks like
[code]
I've tried to implement `renderCustomWith`, but it did not trigger on `image`... Please, could you point me any way to solve this?

[2020-12-03 16:38] tarkh commented on #86
Ok, for those who facing same problem, I've managed this hack to pass through style to image:
[code]

[2020-12-03 18:07] yklim commented on #93
typescript + react . Works fine!
[code]

[2020-12-24 09:45] bastienguillon opened #95 "img src attribute is set to [object Object]"
I have found a weird behavior when converting images insert ops : the `src` attribute of the output img tag is always set to `[object Object]`

Here is a commit with a unit test which reproduces the issue: https://github.com/bastienguillon/quill-delta-to-html/commit/3ee6fdb05ac86344dc3c2895caed6327b0146b75

## Input:

[code]

## Expected output

[code]

## Actual output

[code]

[2020-12-24 09:58] bastienguillon commented on #95
I wrote a dirty hack to temporarily fix the issue, but it is clearly not a viable solution

[code]

[2020-12-28 14:10] lucasaides opened #96 "list indent html"

[2020-12-28 15:16] lucasaides commented on #96
looking at this pr: https://github.com/nozer/quill-delta-to-html/pull/88
it would actually solve the issue.. I can just clear the padding of the `ol` and do it myself if I have the `ql-indent` class

[2021-01-27 01:00] Benny739 commented on #86
Had the same problem and found the thread. The most simple solution:
[code]

[2021-03-16 12:00] jraoult commented on #80
Message from the future , thanks for tracing it @rienswagerman 😉. How did you go about working around this?

[2021-04-14 00:23] robacarp opened #99 "Inline styles for checkboxes"
I'd like to be able to swap out the html list item character for a literal check or unchecked box, but I'm missing where I might be able to make that hook without forking the project.

Is there an easy way to wrap or override the way that delta-to-html renders checkboxes?

[2021-05-12 23:43] Azuf opened #103 "Default Quill formats lost when implementing the customTagAttributes and other custom handlers"
When implementing any of the custom functions in the config, such as the `customTagAttributes` and returning classes as below, it replaces the default classes added by quill. How can I change this so it appends the custom class to the Quill classes instead?

[code]

[2021-05-29 09:48] Matoo125 commented on #81
I'm having the same problem

[2021-05-29 10:20] Matoo125 commented on #81
it was caused by not using `new` keyword
[code]
instead of
[code]

[2021-08-23 06:29] volser commented on #103
can you provide an exmaple, please?

[2021-08-23 06:31] volser commented on #95
in standard quill delta, `image` is string. It looks like you changed format

[2021-08-24 13:11] thomanimation opened #105 "How to convert a table with inline styles"
Thank you for your work.

From a simple table, QuillDeltaToHtmlConverter returns the following html:

`<html><head><meta charset="UTF-8"/></head><body><table><tbody><tr><td data-row="row-gdej">one</td><td data-row="row-gdej">two</td></tr><tr><td data-row="row-4f4w"><br/></td><td data-row="row-4f4w"><br/></td></tr></tbody></table><p><br/></p></body></html>`

I've set inlineStyles: true however the

[2021-08-25 09:34] thomanimation commented on #105
No longer interested in this. I switched to a different editor with better table management than Quill. Thank you again.

[2021-08-25 09:34] #105 closed

[2021-09-07 10:34] nhkhang opened #106 "How to use custom style for image ?"
I know there is an option "customCssStyles" but I can't use it to style my image after rendering to HTML. I tried to declare css override but it failed too. Can someone helps me ?

[2021-09-09 08:45] davidkron opened #107 "Encode special characters in Links"
We have a use case in our application, where we convert a Quill delta to HTML and later convert this generated HTML to PDF.
But the library we are using for this conversion currently has problems with the HTML generated by qull-delta-to-html.

According to the HTML specification, it is recommended to encode special characters to prevent ambiguity (see https://stackoverflow.com/a/16455004). Browser

[2021-09-09 14:44] Matoo125 commented on #44
oh, thanks for this :+1:

[2021-11-06 06:47] vanoop729 commented on #57
Hey @nozer How to display the `var html = converter.convert();` in react? It just displays as a string for me.

[2021-11-14 18:12] paulm17 opened #108 "Not clear how to use beforeRender"
Hi there,

I'm trying to use beforeRender to render my own html with an image type.

[code]

Of course the above code changes images just fine, but for everything else.  It gets overridden with false.  😆

Can you please make a correct example?  Your "Rendering Custom Blot Formats" example was helpful as I am able to change custom blots.  But due to no example for native blots.  I'm a bit lost.

Ma

[2021-11-14 19:34] paulm17 commented on #108
So on the basis that I'm going to provide for ALL the ops, rather than singling out one for replacement...

[code]

This works.  But if I can single one out for replacement.  Please let me know.

[2021-11-18 20:24] AkyurekDogan opened #109 "About delta-to-html table content conversion"
Quill editor table module is not supported built-in. I tried to fix it by custom implementation but it is not a neat way, Does this lib supports it ?

[2021-12-08 15:34] paulm17 commented on #108
Closing due to moving to tiptap.

[2021-12-08 15:34] #108 closed

[2021-12-16 17:36] DeeTheDev commented on #63
@unitehenry You are a life saver. ❤️

[2022-01-20 13:00] lesqui23 commented on #76
I also get the error when I try to use
`import { QuillDeltaToHtmlConverter } from 'quill-delta-to-html';`

The work around also is not working for me. I use 0.12.0 with an lit2 web application. I try to clone the repo and switch target to es6 but no success at the moment. Are there different methods to integrate that module or I am on the wrong path?

[2022-04-06 10:59] thecodinglinguist opened #112 "Circular dependency"
When starting a Node.js project that has quill-delta-to-html as a NPM dependency, the following is logged:
[code]

Node: v16.14.0

[2022-06-28 07:43] SikoSoft commented on #103
Did you ever get this working? I became curious about this wanting to implement my own srcset attribute for images but don't see this callback actually running at any point.

[2022-07-07 06:03] indianakernick opened #116 "Indent attribute doesn't seem to be handled correctly"
I have this indented paragraph:

[code]

When this is converted to a sequence of delta ops via Quill's clipboard module, the result is this:

[code]

As far as I can tell, this is valid. It was generated by Quill itself so I expect it to be valid. However, when this sequence of delta ops is converted back to HTML using 0.12.1 and the default configuration, the result is this:

[code]

I would have

[2022-07-28 06:54] zoujiuming commented on #106
custom Formats by "line-height"  has the same question , [quill-delta-to-html]  will remove custom style , what should i do ?

[2022-07-29 05:35] zoujiuming commented on #86
ignores customStyle attribute use in Quill , but [ op.insert.type ] was same 'text'  ? then you can:

`
const converter = new QuillDeltaToHtmlConverter(deltaOps, {
        inlineStyles: true,
        customCssStyles: op => {
          if (op.attributes.lineHeight) {
            return "line-height" + ":" + op.attributes.lineHeight;
          }
        }
      })
`

[2022-07-29 05:41] zoujiuming commented on #86
ignores customStyle attribute use in Quill , but [ op.insert.type ] was same 'text' ? then you can:

[code]

[2022-10-10 07:14] drgx opened #117 "Inline code not convert properly when the code contain additional format"
The example use case is this:

the ops
[code]

**Current default implementation will return**
[code]
<img width="146" alt="image" src="https://user-images.githubusercontent.com/5230095/194814796-00bdb6b1-0d61-4c14-b6a0-b8449b813bab.png">

The default renderer causing two separate code tag instead of single code block.

**The expected renderer result should be**
[code]
**Expected renderer**

<img w